<header>
    {{boardInfo.name}}
</header>
<div class="ugrbwv-0 dcIHlO fBTgEg">
    {% for column in boardMapping %}
    <div class="sc-12cqrqc-0 jwPAny">
        <div class="sc-12cqrqc-1 fVPxnT">
            <div class="__board-test-hook__column sc-1ef3ied-1 cgwwdw j4whmj-0 gftcoT">
                <div class="sc-1xtha37-1 NOLGR sc-1xtha37-0 iTUnNM">
                    <div class="sc-1k8t1g3-0 hMFuoc">
                        <div class="sc-1k8t1g3-3 cPpMlq">
                            <div class="sc-1wvkof1-2 dXSenY">
                                <div class="sc-1wvkof1-3 EnqMU">
                                    <div class="sc-1dbmt9d-0 ydrwD">
                                        <div class="rj51p4-1 jbcAnp">{{column.name}}</div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="sc-10a4w9j-0 kiDxfE" >
                    {% for issue in column.issues %}
                        <div>
                            <div class="sc-1gar2hk-0 ixgNBr">
                                <div class="sc-7ay0j8-0 dMbKdr">
                                    <div class="mtbo2t-0 jiJUhf">
                                        <div class="sc-14m9v6d-1 dUdUFt">
                                            <div class="y8i3hb-1 fIqZmS">
                                                <div class="y8i3hb-0 kvmZCr">
                                                    <span class="sc-1u5kgfx-0 etCT">{{issue.summary}}</span>
                                                </div>
                                                <div class="y8i3hb-0 kvmZCr">
                                                    <div class="y8i3hb-3 fRSGfA">
                                                        <div class="y8i3hb-4 lBJIh">
                                                            <div class="sc-1j9o0vm-0 gvcthx">
                                                                <div role="presentation">
                                                                <img class="sc-1j9o0vm-1 gbsqSE" src={{issue.issueIconUrl}}/>
                                                                </div>
                                                                <div role="presentation">
                                                                <span class="sc-15cfu5s-1 fKpSAB">{{issue.key}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="y8i3hb-5 dtAoPo">
                                                        <div class="e1ln4w-0 hmZmEr"></div>
                                                        <div class="sc-1lkqyrp-0 fScEKs">
                                                            <div role="presentation">
                                                                <span class="sc-1lkqyrp-1 hADnUb">
                                                                {% if issue.assignee != null %}
                                                                <img class="sc-1lkqyrp-2 elnrpJ" src={{issue.assignee.avatarUrls.48x48}}>
                                                                {% endif %}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>